.mintbutton {
    display: none;
}

.btn {
    opacity: 1;
    background: rgb(3, 125, 214);
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    transition: all 300ms ease 0s;
    min-height: 52px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 999px;
    font-size: 16px;
    line-height: 1.3;
    min-height: 40px !important;
    height: 40px !important;
    margin: 0 15px;
    border: none;
    
}
.btn:hover{
    color: #f5c34b;
}

.mybuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.sold{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #555;
}

.nam{
   color: #f5c34b;
   border-color: #000;
    text-decoration: none;
    font-family: Dahlia Condensed, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    font-size: 40px;
}

.h2center{
    text-align: center;
    color: white;
}

.nfts_container{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    
}

.fileup {
    opacity: 1;
    background: rgb(3, 125, 214);
    width: 180px;
}
.h2cen {
    color: rgb(239, 139, 139);
}