[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/wormhole-relayer-solidity-sdk"]
	path = lib/wormhole-relayer-solidity-sdk
	url = https://github.com/wormhole-foundation/wormhole-relayer-solidity-sdk
